/* myStyles */
:root {
	/* 这里并未使用颜色 */
	--menu-cnt: 3;
	--themecolor: #959500;
	--themecolor-0: #AFAFAF;
	--themecolor-1: #7D4b25;
	--themecolor-2: #404040;
}
*, ::before, ::after{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: unset!important;
}
::-webkit-scrollbar-thumb {
	background-color: #959500;
}
::-webkit-scrollbar {
	width: 10px;
	background-color: #404040;
}
*{
	font-family: 'Sarasa Fixed SC', '微软雅黑', '宋体', 'Courier New';
}
div{
	color: #C8C8C8;
	font-size: 18px;
}
.hljs, .hljs *{
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
	padding: 5px 0;
	margin: 0;
}
h1{
	font-size: 40px;
	width: 100%;
	display: block;
	text-align: center;
}
h2{
	font-size: 37px;
}
h2:before{
	content: "";
}
h3{
	font-size: 32px;
}
h3:before{
	content: "　";
}
h4{
	font-size: 26px;
}
h4:before{
	content: "　　";
}
h5{
	font-size: 24px;
}
h5:before{
	content: "　　　";
}
h6{
	font-size: 22px;
}
h6:before{
	content: "　　　　";
}
h1::after{
	content: "";
}
hr, h1::after{
	display: block;
	height: 1px;
	margin: 15px 5px;
	border: 0;
	border-bottom: 1px solid #404040;
}
blockquote{
	background-color: rgba(200,200,200,0.2);
	margin: 10px 15px;
	padding: 8px 10px;
}
.MathJax_SVG_Display>.MathJax_SVG{
	width: 100%;
}
.mycontent p{
	font-size: 20px;
}
.mycontent p:before{
	content: "　　";
}
.mycontent li p:before{
	content: "";
}
#loclink a, .mycontent a{
	color: yellow;
	text-decoration: underline;
}
i {
	font-size: 18px!important;
}
/* code全局属性 包含hljs */
code, code *{
	font-size: 17px!important;
	display: inline-block;
	font-family: 'Sarasa Term SC', 'Consolas', 'Courier New', monospace;
}
/* `...` 单行代码的特殊用法 */
code:not(.hljs):not(.language-text){
	margin: 0 7px;
	padding: 0 20px;
	color: white;
	background-color: #959500;
	clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
}
/* ```test 类型的特殊格式 */
code.language-text{
	margin-left: 50px;
	color: white;
	filter: unset;
}
.mynav, .mynav *{
	font-size: 16px;
}
.myloc, .myloc *{
	font-size: 14px;
}
.mycontent li{
	font-weight: bold;
	font-size: 20px;
	padding-left: 0;
	margin-left: 20px;
}
#loginWindowContent>p{
	font-size: 20px;
}
html{
	margin: 0;
	padding: 0;
	/*background-image: url("../img/bg.jpg");
	/*background-repeat: repeat; /* 用于小图 */
	/*background-size: 100%; /* 用于大图 */
	/*background-attachment: fixed;
	/*background-color: rgb(200, 200, 100);*/
	background-color: black;
}
body{
	position: relative;
	display: flex;
	min-height: calc(100vh - 25px);
	flex-direction: column;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: transparent;
}
body::before{
	content: "";
	display: block;
	height: 60px;
}
#BG{
	top: 0;
	left: 0;
	/*width: 100vw;
	height: 100vh;*/
	position: fixed;
	opacity: 0;
	z-index: -1;
	transition: opacity 500ms, top ease-out 2s;
}
#BODYBLANK{
	flex: 1;
}
a:hover{
	color: white;
	text-decoration: none;
}
a{
	color: white;
	text-decoration: none;
}
/*pre{
	word-wrap: break-word;
	white-space: pre-wrap;
}*/
latex{
	display: block;
}
latex svg{
	width: 100%;
}
h2 a{
	text-align: center;
	display: block;
	width: max-content;
	margin: 0 auto;
}
.mynav{
	position: fixed;
	top: -180px;
	transition: top ease-in 0.2s;
	left: 0px;
	filter: drop-shadow(-2px 2px 10px black);
	width: 60px; /*600px;*/
	z-index: 999;
	top: calc(-60px * var(--menu-cnt));
}
@keyframes menudisplay{
	0%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.mynav:hover{
	/*height: 240px;*/
	top: 0;
	transition: top ease-in 0.2s;
}
.mynavline {
	display: block;
	min-height: 180px;
	width: 60px;
	background-color: #959500;
	height: calc(60px * var(--menu-cnt));
}
.mynavicon{
	position: relative;
	border-style: solid;
	border-width: 60px 60px 0 0;
	border-color: #959500 transparent transparent transparent!important;
}
.mynav:hover .mymenubar{
	animation: menudisplay 0.4s;
	opacity: 1;
	display: block;
}
.mymenubar, .mymenubar li{
	font-weight: 400;
	list-style: none;
	margin: 0;
	padding: 0;
}
.mymenubar{
	opacity: 0;
	display: none;
	padding: 0;
	margin: 0;
	top: 0;
}
.mymenuli{
	display: block;
	height: 59px;
	border-bottom: 1px solid #CCC;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	transition: background-color ease-in 0.1s;
}
.mymenuli:hover, button:hover{
	background-color: #222222;
	transition: background-color ease-in 0.1s;
}
.mymenuli.disabled{
	display: none;
}
.mymenuli>a{
	display: inline-block;
	height: 59px;
	line-height: 59px;
	width: 60px;
	margin: 0 auto;
}
.myloc{
	position: fixed;
	top: 0;
	left: 0;
	filter: drop-shadow(0 0 10px black);
	z-index: 998;
}
.myloc *{
	padding: 0;
	margin: 0;
}
.mylocbar{
	position: relative;
	width: max-content;
	height: calc(38px - 15px);
	line-height: calc(38px - 15px);
	padding: 0 60px 0 80px;
	border-bottom: 15px solid #959500;
	background-color: rgba(45,45,40,0.5);
}
.mylocbar.normal{
	clip-path: polygon(0 0, 0 100%, calc(100% - 38px) 100%, 100% 0);
}
.mylocbar.normal .mylocbarEX{
	display: none;
}
.mylocbar.edge{
	padding-right: calc(60px - 38px);
}
.mylocbar.edge .mylocbarEX{
	position: absolute;
	bottom: -15px;
	right: -15px;
	border-style: solid;
	border-width: 0 0 15px 15px;
	border-color: transparent transparent transparent #959500;
}
.mylocbar.edge .mylocbarEX::before{
	content: "";
	position: absolute;
	top: calc(15px - 38px);
	left: -15px;
	border-style: solid;
	border-width: 0 0 38px 38px;
	border-color: transparent transparent transparent rgba(45,45,40,0.5)!important;
	z-index: -1;
}
#loclink{
	text-align: left;
}
.mybox{
	position: relative;
	width: 80%;
	margin: 0 auto 20px auto;
	filter: drop-shadow(0 0 10px black);
	min-height: 100%;
	background-color: rgba(45,45,40,0.5);
}
.mybox::before{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 60px 60px 0 0;
	border-color: #959500 transparent transparent transparent!important;
}
.mybox.inclient{
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: auto;
	background-color: #2D2D28;
	border: 1px solid #2D2D28;
}
.mybox.inclient::before{
	content: "";
	position: fixed;
	border-style: solid;
	border-width: 60px 60px 0 0;
	border-color: #959500 transparent transparent transparent!important;
}
.mycontent{
	display: block;
	width: calc(100% - 100px);
	margin: 50px 50px 60px 50px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
.mybox.inclient>.mycontent{
	width: (100% - 60px);
	margin: 10px 30px 40px 30px;
}
.mycontent ul, .mycontent ol {
	padding-left: 25px;
}
.mycontent p{
	margin: 5px 0;
	padding: 0;
}
.myblog{
	top: 0;
	right: 0;
	width: 100%;
}
footer{
	position: absolute;
	display: block;
	bottom: 1px;
	height: 25px;
	width: 100%;
	margin: 0;
	flex: none;
	text-align: center;
	/* z-index: 999; */
}
footer>div{
	display: inline;
	padding: 2px 10px;
	background-color: #959500;
	color: white!important;
	filter: drop-shadow(0 0 10px black);
}
footer>div>a{
	text-decoration: underline;
}
#userlogin{
	position: fixed;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 0 0 60px 60px;
	border-color: transparent transparent #959500 transparent!important;
	filter: drop-shadow(0 0 10px black);
	z-index: 10;
}
#loginWindow{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
	background-color: rgba(10,10,10,0.3);
}
#loginWindowContent{
	margin: 0;
	position: absolute;
	display: block;
	min-height: 100px;
	width: 300px;
	top: calc(50% - 100px);
	left: calc(50% - 150px);
	z-index: 501;
	overflow: hidden;
	color: #C8C8C8;
}
#loginWindowContent > *{
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
#loginWindowContent > input{
	height: 25px;
	margin-bottom: 10px;
	background-color: transparent;
	resize: none;
	border: 0;
}
#loginWindowContent > div{
	display: flex;
	margin: 0;
}
#loginWindowContent button{
	flex: auto;
	width: 1px;
	height: 25px;
}
button {
	background-color: #959500;
	border: 0;
	border-radius: 0!important;
	outline: 0;
	color: white;
}
#list{
	list-style: none!important;
	width: 100%;
	padding: 0;
	display: table;
}
#list>a{
	transition: background-color ease-in 0.2s;
	display: table-row;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	border: 1px solid #003530;
	border-top: 0;
	color: #C8C8C8;
	text-decoration: none;
}
#list>a:hover{
	background-color: rgba(0,0,0,0.5);
	transition: background-color ease-in 0.1s;
}
#list>.lodd{
	background-color: rgba(90, 90, 90, 0.2);
}
#list>.leven{
	background-color: rgba(150, 150, 150, 0.2);
}
#list>a>*{
	display: table-cell;
	position: relative;
}
#list>a>.name{
	text-align: left;
	padding-left: calc(1vw + 20px);
}
#list>a>.name>i{
	display: block;
	position: absolute;
	line-height: 33px;
	left: 1vw;
}
#list>a>.time{
	text-align: right;
	display: table-cell;
	padding-right: 1vw;
	word-wrap: normal;
	word-break: keep-all;
}
.notice{
	text-align: center;
	line-height: 50px;
}

@media print{
	html {
		background-color: transparent;
	}
	body {
		padding: 0;
		min-height: 100vh;
		overflow: auto;
		display: block;
	}
	body:before {
		display: none;
	}
	body>:not(.mybox) {
		display: none!important;
	}
	.mybox {
		margin: 0;
		width: 100%;
		height: max-content;
		background-color: #FFF;
		box-shadow: none;
		filter: none;
	}
	.mybox:before {
		display: none;
	}
	.mycontent {
		margin: 5px;
		width: calc(100% - 10px);
		height: 100%;
	}
	.mycontent, .mycontent * {
		color: black!important;
	}
	.mycontent h1 {
		margin-top: 0;
	}
	.mycontent .hljs {
		background-color: inherit;
	}
	.mycontent pre {
		margin: 0;
	}
}
