/* myStyles */
/* 与桌面版区别主要有:
     三角元件的大小
     各元素的边框大小
	 字体大小
*/
@media screen {
div{
	font-size: 15px;
}
.hljs, .hljs *{
	font-size: 15px;
	margin: 0!important;
}
h1, h2, h3, h4, h5, h5{
	padding: 0;
}
h1{
	font-size: 28px;
}
h1::before{
	content: "　";
}
h1::after{
	margin: 5px 2px;
}
h2{
	font-size: 27px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h5{
	font-size: 15px;
}
.mycontent p{
	font-size: 15px;
	margin-top: 0;
}
i {
	font-size: 16px!important;
}
code, code *{
	font-size: 14px!important;
}
code:not(.hljs):not(.language-text){
	margin: 0 3px;
	padding: 0 14px;
	clip-path: polygon(14px 0, 100% 0, calc(100% - 14px) 100%, 0 100%);
}
code.language-text{
	margin-left: 30px;
}
.mynav, .mynav *{
	font-size: 14px;
}
.myloc, .myloc *{
	font-size: 12px;
}
.mycontent li{
	font-size: 14px;
	margin-left: 10px;
}
body::before{
	height: 50px;
}
#BODYBLANK{
	display: none;
}
pre{
	margin: 0;
}
.MathJax_SVG_Display{
	border-right: none;
}
h2 a{
	margin: 0 auto;
}
.mynav{
	top: -150px;
	left: 0px;
	height: 200px;
	filter: drop-shadow(-2px 2px 10px black);
	width: 50px; /*500px;*/
}
.mynav:hover{
	top: 0;
}
.mynavline {
	min-height: 150px;
	width: 50px;
	height: calc(50px * var(--menu-cnt));
}
.mynavicon{
	border-width: 50px 50px 0 0;
}
.mymenuli{
	height: 49px;
}
.mymenuli>a{
	height: 49px;
	line-height: 49px;
	width: 50px;
}
.line{
	margin: 10px 5px;
}
.mylocbar{
	height: calc(35px - 12px);
	line-height: calc(35px - 12px);
	padding: 0 30px 0 50px;
	border-bottom: 12px solid #959500!important;
	clip-path: polygon(0 0, 0 100%, calc(100% - 35px) 100%, 100% 0);
}
.mybox{
	width: calc(100% - 20px);
	margin: 0 0 0 20px;
	min-height: 50px;
}
.mybox::before{
	border-width: 50px 50px 0 0;
}
.mycontent{
	width: calc(100% - 10px);
	margin: 10px 0 10px 10px;
}
.mycontent ul, .mycontent ol {
	padding-left: 16px;
}
footer{
	display: none;
}
#userlogin{
	border-width: 0 0 50px 50px;
}
#loginWindowContent{
	width: 60%;
	left: 20%;
}
#loginWindowContent > input{
	height: 20px;
	margin-bottom: 5px;
}
#list>a{
	height: 26px;
	line-height: 26px;
}
#list>a>.name{
	padding-left: 18px;
}
#list>a>.name>i{
	line-height: 28px;
	left: 0;
}
#list>a>.time{
	padding-right: 0;
}
.notice{
	line-height: 40px;
}

/* media */
}
